@charset "UTF-8";

@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont-Regular.eot");
	src: local("☺"), url("../fonts/Mont-Regular.woff") format("woff"),
		url("../fonts/Mont-Regular.ttf") format("truetype"),
		url("../fonts/Mont-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont-Bold.eot");
	src: local("☺"), url("../fonts/Mont-Bold.woff") format("woff"),
		url("../fonts/Mont-Bold.ttf") format("truetype"),
		url("../fonts/Mont-Bold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont-Heavy.eot");
	src: local("☺"), url("../fonts/Mont-Heavy.woff") format("woff"),
		url("../fonts/Mont-Heavy.ttf") format("truetype"),
		url("../fonts/Mont-Heavy.svg") format("svg");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

* {
	outline: none !important;
}

:root {
	--primary-1: #e5ffff;
	--primary-text: #9e9e9e;
	--secondary-text: #607d8c;
	--primary-header: #202020;
	// TODO: Mobile First
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

[data-theme="dark"] {
	--primary-1: #323232;
	--primary-text: #e5ffff;
	--secondary-text: #b3bc6d;
	--primary-header: #fff;
	// TODO: Mobile First
}

body {
	background-color: var(--primary-1);
	color: var(--primary-text);
	// padding-left: 150px;
	// padding-right: 50px;
	font-size: 17px;
	font-family: "Mont", sans-serif !important;
	transition: all 0.4s ease-in-out;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

svg path {
	fill: var(--primary-1);
	transition: all 0.4s ease-in-out;
}

h1,
h2,
h3,
h5,
h6 {
	color: var(--primary-header);
}

p,
small {
	line-height: 1.5;
	color: var(--primary-text);
}

strong {
	font-weight: 600;
}

image {
	height: 100vh;
	width: 100vw;
}

/* ------------- */
/* Form
/* ------------- */
input[type="text"],
input[type="tel"] {
	width: 100%;
	height: 54px;
	border: 1px solid #eee;
	padding: 0 20px;
}

textarea {
	width: 100%;
	height: 160px;
	border: 1px solid #eee;
	padding: 15px 20px;
}

button[id="submit"] {
	height: 58px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	border: none;
	margin: 0;
	padding: 0;
}

button[id="submit"] * {
	transition: all 0.25s ease-in-out;
}

button[id="submit"] strong {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	height: 58px;
	border: 1px solid #282828;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 30px;

	color: #fff;
}

button[id="submit"] strong:hover {
	text-decoration: none;
}

button[id="submit"] b {
	width: 20px;
	height: 1px;
	background: var(--primary-header);
	display: inline-block;
	margin-left: 20px;
	margin-top: 8px;
}

button[id="submit"] i {
	width: 0;
	height: 0;
	display: inline-block;
	margin-left: 0;
	margin-right: auto;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-color: transparent transparent transparent var(--primary-header);
	opacity: 1;
	margin-top: 5px;
}

button[id="submit"]:hover b {
	width: 50px;
	margin-left: 20px;
}

button[id="submit"]:hover i {
	opacity: 0;
}

/* ------------- */
/* Reveal Effect
/* ------------- */
.reveal-effect {
	float: left;
	overflow: hidden;
	position: relative;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	transition-duration: 1.2s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

	* {
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
		position: relative;
	}

	.animated {
		transform: translate(0, 0);

		* {
			animation-name: show-img-1;
		}

		&:after {
			animation-name: slide-bg-2;
		}
	}

	&:after {
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);

		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;

		transform-origin: left top;
		transform: scale(0.05, 0);
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	}

	.masker:after {
		background-color: #eee;
	}
}

/* ------------- */
/* Titles
/* ------------- */
.titles {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 80px;

	h6 {
		font-size: 20px !important;
		font-weight: 600;
		margin-bottom: 20px;
		letter-spacing: 2px;
	}

	p {
		font-size: 17px !important;
		line-height: 1.5;
		margin-bottom: 0;
		font-weight: 300;
	}
}

/* ------------- */
/* Hero
/* ------------- */
.wave-section {
	position: relative;
	z-index: 0;

	svg {
		position: absolute;
		bottom: 0;
		z-index: 100;
	}
}

.wave-top {
	position: absolute;
	top: 0;
	transform: scaleY(-1);
}

/* ------------- */
/* Custom Links
/* ------------- */
.custom-link {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	* {
		transition: all 0.25s ease-in-out;
	}

	a {
		display: inline-block;
		margin-right: 15px;
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none !important;

		&:hover {
			color: var(--secondary-text);
		}
	}

	span {
		width: 20px;
		height: 1px;
		background: var(--primary-text);
		display: inline-block;
		margin: 0;
	}

	button {
		background: var(--primary-1);
	}

	p,
	b,
	i {
		color: var(--primary-header) !important;
	}

	i {
		width: 0;
		height: 0;
		display: inline-block;
		margin-left: 0;
		margin-right: auto;
		border-style: solid;
		border-width: 4px 0 4px 4px;
		border-color: transparent transparent transparent var(--primary-text);
		opacity: 1;
	}

	&:hover a {
		margin-left: 20px;
		text-decoration: none;
	}

	&:hover span {
		width: 50px;
		margin-left: 20px;
	}

	&:hover i {
		opacity: 0;
	}
}

/* ------------- */
/* Page Header
/* ------------- */
.page-header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

/* ------------- */
/* Header
/* ------------- */
.header {
	.page-title {
		width: 100%;
		margin-top: 50px;
		h2 {
			font-weight: 700;
			font-size: 8vw;
			margin-bottom: 20px;
		}

		h4 {
			padding-right: 40%;
			line-height: 1.7;
		}
	}
}

/* ------------- */
/* Left
/* ------------- */
.left-side {
	a {
		display: block;
		font-size: 13px;
		font-weight: 600;
		position: relative;
		padding: 0 2px;

		&:hover {
			text-decoration: none;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: 6px;
			height: 1px;
			width: 0;
			transition: width 0s ease, background 0.25s ease;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			right: 0;
			bottom: 6px;
			height: 1px;
			width: 0;
			background: var(--secondary-text);
			transition: width 0.25s ease;
		}

		&:hover:before {
			width: 100%;
			background: var(--primary-text);
			transition: width 0.25s ease;
		}

		&:hover:after {
			width: 100%;
			background: transparent;
			transition: all 0s ease;
		}
	}
}

/* ------------- */
/* Page Header
/* ------------- */
.page-header {
	img {
		mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), transparent);
		width: 100%;
		height: 40vh;
	}
}

/* ------------- */
/* About
/* ------------- */
.about-intro {
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	padding-top: 50px;
	.container {
		.row {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			.col-md-8 {
				flex: 0 0 66.666667%;
				max-width: 66.666667%;
			}
			.col-md-4 {
				flex: 0 0 33.333333%;
				max-width: 33.333333%;
			}
			h3 {
				font-size: 1.75rem;
				font-weight: 700;
				margin-bottom: 50px;
			}
			p {
				line-height: 2;
				margin: 0;
				font-size: 17px;
				&:nth-child(2) {
					margin-bottom: 30px;
					font-weight: 600;
				}
			}
			a {
				padding: 20px 0;
			}
		}
	}
}

.about-header {
	height: 320px;
	overflow: hidden;
	background: none;
	position: relative;
}

.matty-img {
	width: 100%;
	height: 30vh;
	border-radius: 50%;
	object-fit: cover;
}

/* ------------- */
/* Main Services
/* ------------- */
.main-services {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 150px 0;
	text-align: center;

	.titles {
		padding: 0 20%;
		color: #fff;
	}

	figure {
		display: inline-block;
		margin-bottom: 0;

		img {
			height: 60px;
			display: inline-block;
		}
	}

	article {
		width: 100%;
		float: left;
		margin-bottom: 50px;
		color: #fff;
		position: relative;
		padding: 0 30px;

		span {
			display: block;
			font-weight: 700;
			font-size: 40px;
			opacity: 0.1;
		}

		h4 {
			display: block;
			margin-top: -25px;
			font-weight: 600;
			font-size: 18px;
		}
	}
}

/* ------------- */
/* Project Box
/* ------------- */
.project-box {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	padding: 6px;
	transition: 0.5s ease all;
	&:hover {
		transform: rotateZ(-1deg) scale(1.01);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
			0 2px 4px -1px rgba(0, 0, 0, 0.06);
	}

	.project-content h3 {
		font-size: 27px;
		&:hover {
			text-decoration: none;
			color: var(--primary-text);
		}
		a {
			flex-basis: 50%;
			color: var(--secondary-text);
		}
		small {
			flex-basis: 50%;
			font-size: 15px;
		}
	}
}

/* ------------- */
/* Project Detail
/* ------------- */
.case-detail {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 120px 0;

	figure {
		display: block;
		margin-bottom: 50px;
		img {
			width: 100%;
		}
	}

	h6 {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 5px;
	}
	h5 {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	h3 {
		font-size: 50px;
		font-weight: 800;
		margin-top: 100px;
	}
	p {
		display: block;
		margin-bottom: 25px;
	}
	aside {
		margin-left: 30px;
	}
}

/* ---------------- */
/* Featured Services
/* ---------------- */
.featured-services {
	padding: 150px 0;
	color: var(--primary-text);

	.container {
		.row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-right: -15px;

			.col-12 {
				flex: 0 0 100%;
				max-width: 100%;
			}

			.col-lg-3.col-md-6 {
				flex: 0 0 25%;
				max-width: 25%;

				figure {
					display: flex;
					flex-direction: column;
					height: 100%;
					margin: 15px 0;
					border: 1px solid rgba(255, 255, 255, 0.05);

					&:hover {
						background: var(--primary-text);
					}
					&:hover img {
						margin: 0;
						filter: invert(100%);
					}
					&:hover figcaption {
						color: #282828;
					}

					img {
						height: 100px;
						opacity: 0.1;
						padding: 0 35%;
						filter: blur(10px);
						object-fit: contain;
						position: relative;
					}

					figcaption {
						padding: 20px;
						text-align: center;

						span {
							font-size: 13px;
							font-weight: 600;
							margin-bottom: 10px;
						}

						h4 {
							font-size: 17px;
							font-weight: 600;
							margin-bottom: 0;
						}
					}
				}
			}

			.col-lg-3:nth-child(2n + 2) {
				margin-top: 134px;
			}
		}
	}
}

/* ------------- */
/* Awards
/* ------------- */
.our-awards {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	// padding: 150px;
	// padding-right: 150px;

	.container {
		width: 100%;
		padding-right: 15px;

		.titles {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			text-align: left;
			width: 100%;
			margin-bottom: 80px;
			h6 {
				color: var(--primary-header);
				font-size: 20px;
			}
			p {
				color: var(--primary-text);
			}
		}

		.about-tech {
			display: flex;
			flex-direction: row;
			width: 75%;
			text-align: center;

			li {
				width: 20%;
				margin: 0;
				list-style: none;

				&::last-child figure {
					border-right: 0;
				}

				figure {
					width: 100%;
					margin-bottom: 40px;
					align-items: center;
					padding: 25px 0;
					border-right: 1px solid rgba(40, 40, 40, 0.1);

					img {
						align-self: center;
					}
				}

				h5 {
					font-weight: 600;
					font-size: 15px;
					margin-bottom: 15px;
				}

				small {
					display: block;
					opacity: 0.6;
					margin-bottom: 5px;
				}

				.odometer {
					font-size: 60px;
					font-weight: 800;
				}
			}
		}
	}
}

/* ------------- */
/* Logos
/* ------------- */
.logos {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 150px 0;

	ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		position: relative;
		border-left: 1px solid rgba(40, 40, 40, 0.1);
		border-top: 1px solid rgba(40, 40, 40, 0.1);

		li {
			width: 20%;
			float: left;
			list-style: none;
			border-right: 1px solid rgba(40, 40, 40, 0.1);
			border-bottom: 1px solid rgba(40, 40, 40, 0.1);
			text-align: center;

			figure {
				display: block;
				height: 80px;
				margin: 30px 0;
				opacity: 0.6;
				-webkit-transition: all 0.25s ease-in-out;
				-moz-transition: all 0.25s ease-in-out;
				-ms-transition: all 0.25s ease-in-out;
				-o-transition: all 0.25s ease-in-out;
				transition: all 0.25s ease-in-out;
				position: relative;

				img {
					display: none;
					height: 80px;
					position: absolute;
					left: 50%;
					top: 0;
					transform: translateX(-50%);
				}
			}

			&:hover figure {
				opacity: 1;
			}
		}
	}
}

/* ------------- */
/* Work With Us
/* ------------- */
.work-with-us {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 150px 0;
	h6 {
		font-size: 17px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 20px;
		font-weight: 800;
		margin-bottom: 50px;
	}
	p {
		display: block;
		margin: 0;
		font-size: 19px;
	}
	a {
		text-decoration: underline;
	}
	small {
		display: block;
		margin: 15px 0;
	}
}

/* ------------- */
/* Contact
/* ------------- */
.contact {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 150px;
}
.contact h5 {
	font-weight: 600;
	margin-bottom: 20px;
	display: block;
}
.contact address {
	display: block;
	margin-bottom: 50px;
}
.contact address p {
	margin: 0;
}
.contact address a {
	text-decoration: underline;
}
.contact .contact-form {
	display: block;
	margin-top: 50px;
}
.contact .contact-form h5 {
	margin-bottom: 40px;
}
.contact .contact-form #contact {
	display: block;
}
.contact .contact-form #contact .form-group {
	display: block;
	position: relative;
	margin-bottom: 35px;
}
.contact .contact-form #contact .form-group span {
	width: 100%;
	line-height: 54px;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 20px;
	z-index: 0;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.contact .contact-form #contact .form-group span.label-up {
	font-size: 13px;
	line-height: 16px;
	top: -20px;
	font-weight: 600;
}
.contact .contact-form #contact .form-group input[type="text"] {
	background: none;
	position: relative;
	z-index: 2;
}
.contact .contact-form #contact .form-group input:focus + span {
	font-size: 13px;
	line-height: 16px;
	top: -20px;
	font-weight: 600;
}
.contact .contact-form #contact .form-group textarea {
	background: none;
	position: relative;
	z-index: 2;
}
.contact .contact-form #contact .form-group textarea:focus + span {
	font-size: 13px;
	line-height: 16px;
	top: -20px;
	font-weight: 600;
}
.contact .contact-form #contact .form-group label.error {
	color: red;
	margin-top: 5px;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 13px;
}
.contact .contact-form #success,
.contact .contact-form #error {
	display: none;
	float: left;
}
.contact .contact-form #error {
	background: red;
	color: #fff;
}
.contact .contact-form #success {
	background: #009688;
	color: #fff;
}
.contact .contact-form .alert {
	border: none;
	border-radius: 0;
	padding: 20px 30px;
}
label {
	width: 100%;
}
.btn-email {
	cursor: pointer;
}
address span {
	text-decoration: underline;
}

/* ------------- */
/* Footer
/* ------------- */
a {
	display: block;
	// position: relative;
	// padding: 0 2px;

	&:hover {
		// text-decoration: none;
	}
	&:hover:before {
		// width: 100%;

		// transition: width 0.25s ease;
	}
	&:hover:after {
		width: 100%;
		background: transparent;
		transition: all 0s ease;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		bottom: 8px;
		height: 1px;
		width: 0;
		transition: width 0s ease, background 0.25s ease;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		bottom: 8px;
		height: 1px;
		width: 0;

		transition: width 0.25s ease;
	}
}
h5 {
	display: flex;
	justify-content: center;

	text-align: center;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 20px;
	text-align-last: center;
}
address {
	text-align: center;
	line-height: inherit;
	font-style: normal;
	margin-bottom: 20px;
}

/* ------------- */
/* Animations
/* ------------- */
@keyframes countdown {
	from {
		stroke-dashoffset: 113px;
	}

	to {
		stroke-dashoffset: 0;
	}
}

/* -------------- */
/* Media Queries 
/* -------------- */

.slider {
	cursor: pointer;

	&:before {
		position: absolute;
		right: 4px;
		bottom: 4px;
		height: 26px;
		width: 26px;
		transition: 0.4s;
		content: "";
		background-color: var(--primary-text);
	}
}

input:checked + .slider:before {
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
